{% extends "base.html" %}



{% block content %}

<h1> Welcome Back, {{user.first_name}} {{user.last_name}} </h1>



<div> First Name : {{user.first_name}}</div>
<div> Last Name: {{user.last_name}}</div>
<div> Username : {{user.username}}</div>
<div> Email : {{user.email}}</div>

<h2> Feedbacks</h2>




    {% for feedback in feedbacks %}
    
    <div> {{feedback.title}}</div>
    <div> {{feedback.content}}</div>
    {% endfor %}


<a href="/users/{{user.id}}/feedback/add"> Add Feedback</a>

{% endblock %}